.card {
  border-radius: 0.25rem;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
  color: #4a4a4a;
  max-width: 100%;
  margin: 10px;
  display: flex;
  &:hover {
    cursor: pointer;
    background-color: #eeeeee;
  }
  & a {
    padding: 25px;
    flex: 1;
    font-size: larger;
    text-decoration: none;
    color: #4a4a4a;
  }
}
